@CHARSET "UTF-8";

body {
	color:#111111;
}

.container {
	width: 240px;
	height: 280px;
	position: relative;
	text-align:center;
	margin: 0 auto 0px;
}

.perspective {
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}        

.cardBorder {
	position: absolute;
	width: 220px;
	height: 160px;
	left:10px;
	top:70px;
	border:1px dotted;
}

.card {
	position: absolute;
	width: 100%;
	height: 100%;
	border:1px solid;
	box-shadow: 2px 2px 2px;
}

.card.translate {
	-webkit-transform: translateX(20px) translateY(20px) translateZ(20px);
	   -moz-transform: translateX(20px) translateY(20px) translateZ(20px);
	     -o-transform: translateX(20px) translateY(20px) translateZ(20px);
	        transform: translateX(20px) translateY(20px) translateZ(20px);
}

.card.rotate {
	-webkit-transform: rotateZ(20deg);
	   -moz-transform: rotateZ(20deg);
	     -o-transform: rotateZ(20deg);
	        transform: rotateZ(20deg);
}

.card.rotateY {
	-webkit-transform: rotateY(20deg);
	   -moz-transform: rotateY(20deg);
	     -o-transform: rotateY(20deg);
	        transform: rotateY(20deg);
}


.card.scale {
	-webkit-transform: scaleX(1.25) scaleY(.75);
	   -moz-transform: scaleX(1.25) scaleY(.75);
	     -o-transform: scaleX(1.25) scaleY(.75);
	        transform: scaleX(1.25) scaleY(.75);
}

.card p {
	font-size:14px;
	text-align:left;
	margin-left:10px;
}


.childCard {
	position: absolute;
	width: 80%;
	height: 80%;
	left:10%;
	border:1px solid;
	box-shadow: 2px 2px 2px;
}

.childCard.rotateY {
	-webkit-transform: rotateY(20deg);
	   -moz-transform: rotateY(20deg);
	     -o-transform: rotateY(20deg);
	        transform: rotateY(20deg);
}

.legend {
     font-size: 18px;
     font-weight:bold;
     text-align:center;
}
   
.code {
     font-size: 12px;
     font-family:Courier;
}

.hierarchyContainer {
	width: 300px;
	height: 400px;
	/*border:1px solid;
	color:red;*/
	position: relative;
	text-align:center;
	margin: 0 auto 0px;
}

.hierarchy {
     -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
             transform-style: preserve-3d;
}

.nohierarchy {
     -webkit-transform-style: flat;
        -moz-transform-style: flat;
          -o-transform-style: flat;
             transform-style: flat;
}


#card1 {
   	position:absolute;
   	left:40px;
   	top:60px;
}
   
#card2 {
   	position:absolute;
   	left:330px;
   	top:60px;
}

#card3 {
   	position:absolute;
   	left:620px;
   	top:60px;
}

#hierarchy1 {
   	position:absolute;
   	left:80px;
   	top:360px;
}

#hierarchy2 {
   	position:absolute;
   	left:440px;
   	top:360px;
}