@CHARSET "UTF-8";

body {
	color:#111111;
}

.container {
	width: 240px;
	height: 240px;
	position: relative;
	text-align:center;
        -moz-transform-style: preserve-3d;
}

.perspective {
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}        

.noperspective {
	-webkit-perspective: 0px;
	   -moz-perspective: 0px;
	     -o-perspective: 0px;
	        perspective: 0px;
}

.cardBorder {
	position: absolute;
	width: 100%;
	height: 80%;
	top:30%;
	border:1px dotted;
    border-radius:0 0 4px 4px;
        -moz-transform-style: preserve-3d;
}

.card {
	position: absolute;
	width: 99%;
	height: 99%;
	border:1px solid;
	border-radius: 4px;
	box-shadow: 2px 2px 2px;
        -moz-transform-style: preserve-3d;
}

.translate {
	-webkit-transform: translateX(20px) translateY(20px) translateZ(-100px);
	   -moz-transform: translateX(20px) translateY(20px) translateZ(-100px);
	     -o-transform: translateX(20px) translateY(20px) translateZ(-100px);
	        transform: translateX(20px) translateY(20px) translateZ(-100px);
}

.rotate {
	-webkit-transform: rotateY(30deg);
	   -moz-transform: rotateY(30deg);
	     -o-transform: rotateY(30deg);
	        transform: rotateY(30deg);
}

.scale {
	-webkit-transform: scaleX(1.25) scaleY(.75);
	   -moz-transform: scaleX(1.25) scaleY(.75);
	     -o-transform: scaleX(1.25) scaleY(.75);
	        transform: scaleX(1.25) scaleY(.75);
}

.card p {
	font-size:12px;
	text-align:left;
	margin-left:10px;
}

.legend {
     font-size: 18px;
     font-weight:bold;
     text-align:center;
}
   
.code {
     font-size: 12px;
     font-weight:normal;
     font-family:Courier;
     border:1px solid;
     border-radius:4px 4px 0 0;
     background-color:DarkSeaGreen;
     background-color:CadetBlue;
     /*     background-color:DarkCyan; */
     width:100%;
     height:19%;
     text-align:left;
     margin-top:4px;
}

.code pre {
     font-size: 12px;
}

#card1 {
   	position:absolute;
   	left:40px;
   	top:60px;
}
   
#card2 {
   	position:absolute;
   	left:330px;
   	top:60px;
}

#card3 {
   	position:absolute;
   	left:620px;
   	top:60px;
}
