@CHARSET "UTF-8";
* {
	font-family: 'PT Sans', sans-serif;
}

body {
	background-color:#eeeeee;
	color:#212121;
	padding:0;
	margin-left:0;
	margin-right:0;
	overflow:hidden;
}

#top_frame {
	z-index:-1;
	top:13px;
	left:13px;
	width:98%;
	height:99px;
	background:url(../images/Futurgo_site_assets/top_frame.png);
	background-size:100% 100%;
	position:absolute;
}

#bot_frame {
	bottom:5px;
	left:13px;
	width:98%;
	height:46px;
	background:url(../images/Futurgo_site_assets/bot_frame.png);
	background-size:100% 100%;
	position:absolute;
}


#left_banner_bg {
	top:0px;
	left:13px;
	width:332px;
	height:492px;
	background:url(../images/Futurgo_site_assets/left_banner_fade.png);
	background-size:100% 100%;
	position:absolute;
}

#futurgo_logo {
	top:39px;
	left:27px;
	width:304px;
	height:100px;
	background:url(../images/Futurgo_site_assets/futurgo_logo.png);
	background-size:100% 100%;
	position:absolute;
}

#ltd_model {
	top:166px;
	left:72px;
	width:215px;
	height:280px;
	background:url(../images/Futurgo_site_assets/ltd_model.png);
	background-size:100% 100%;
	position:absolute;
}

#left_banner_title {
	color:#C3F9FA;
	font-size:22px;
	font-style:normal;
	left:33px;
	top:470px;
	width:300px;
	position:absolute;
}

#left_banner_copy {
	color:#C3F9FA;
	font-size:14px;
	left:33px;
	padding:8px;
	top:500px;
	width:290px;
	overflow:hidden;
	position:absolute;
}

#tabbar_right {
	top:0%;
	width:14.8%;
	height:100%;
	left:84%;
	position:absolute;
}
	
#tab01 {
	top:13.5%;
	height:16.9%;
	width:100%;
	background:url(../images/Futurgo_site_assets/tab01.png);
	background-size:100% 100%;
	position:absolute;
}

.tabLink {
	top:8%;
	width:100%;
	height:84%;
	position:absolute;
}

.tabLink:hover {
	cursor:pointer;
}

#tab02 {
	top:30.4%;
	height:16.9%;
	width:100%;
	background:url(../images/Futurgo_site_assets/tab02.png);
	background-size:100% 100%;
	position:absolute;
}

#tab03 {
	top:47.3%;
	height:16.9%;
	width:100%;
	background:url(../images/Futurgo_site_assets/tab03.png);
	background-size:100% 100%;
	position:absolute;
}

#tab04 {
	top:64.2%;
	height:16.9%;
	width:100%;
	background:url(../images/Futurgo_site_assets/tab04.png);
	background-size:100% 100%;
	position:absolute;
}

#tab05 {
	top:81.1%;
	height:11.8%;
	width:100%;
	background:url(../images/Futurgo_site_assets/tab05.png);
	background-size:100% 100%;
	position:absolute;
}

#bottom_legend {
	color:lightgray;
	font-size:18px;
	left:233px;
	bottom:25px;
	position:absolute;
}

#vizi_powered {
	bottom:15px;
	right:33px;
	width:148px;
	height:17px;
	background:url(../images/Futurgo_site_assets/vizi_powered.png);
	background-size:100% 100%;
	position:absolute;
}

#menubar {
	font-size:18px;
	color:Black;
	text-align: justify;
	width:55%;
	padding-left:360px;
	padding-top:30px;
}

#menubar * {
	display: inline;
}

#menubar div {
	display: inline-block;
	font-style:normal;
}

#menubar span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.menuItem {
}

.menuItem:hover {
	cursor:pointer;
}

#container {
	z-index:-2;
	width: 99%;
	height:100%;
	top:0%;
	position:absolute;
	background:url(../images/Futurgo_site_assets/bg1440x900.jpg);
	background-size:100% 100%;
}

:focus { outline: none; }

#loadStatus {
	color:#C3F9FA;
	width: 95%;
	height: 6%;
	top: 200px;
	text-align:center;
	position:absolute;
}

#overlay {
	font-size:14px;
	color:#CC0000;
	z-index:2;
	display:none;
	width:180px;
	left:66%;
	position:absolute;
	border:1px solid;
}

#overlayContents {
	top:0px;
	position:absolute;
}

#overlayLogo {
	width: 100px;
	height:22px;
	bottom:0px;
	left:1%;
	position:absolute;
	background:url(../images/Futurgo_site_assets/futurgo_logo_sm.png);
	background-size:100% 100%;
}