@CHARSET "UTF-8";
* {
    font-family: Arial;
    font-style: italic;
}

body {
	background-color:#eeeeee;
	color:#212121;
}

#menubar {
	font-size:12px;
	color:Black;
}

#fileOpenDialog {
	font-size:10px;
	color:Black;
}

#container {
	z-index:-1;
	width: 83%;
	height:92%;
	top:6%;
	position:absolute;
	border:1px solid;
	box-shadow: 4px 4px 2px #888888;
}

:focus { outline: none; }

#loadStatus {
	width: 95%;
	height: 6%;
	top: 200px;
	text-align:center;
	position:absolute;
}

#prompt {
	width: 95%;
	height: 6%;
	bottom: 30px;
	text-align:center;
	position:absolute;
}

#listing {
	width: 256px;
	height: 60%;
	text-align:center;
	position:absolute;
	border:1px solid;
}

#files {
	width:90%;
}

#loadButton {
	top:80%;
	left:45%;
	position:absolute;
}

#controls {
	font-size:12px;
	font-weight:bold;
	border:1px solid;
	width: 14%;
	height:92%;
	top:6%;
	right:1%;
	position:absolute;
	box-shadow: 4px 4px 2px #888888;
}
	
#stats {
	height: 60px;
	position:absolute;
	margin:2px;
}

#render_stats {
	padding-top: 3px;
	padding-left: 6px;
}

#scene_stats {
	padding-left: 6px;
}

#load_time_stats {
	top:76px;
	position:absolute;
	padding-left: 8px;
}

#cameras {
	height: 120px;
	top: 100px;
	position:absolute;
	width: 98%;
	margin:2px;
}

#cameras_list {
	width: 100%;
}

#camera_controls {
	padding-left: 6px;
}

#lights {
	height: 120px;
	top: 240px;
	position:absolute;
	width: 98%;
	margin:2px;
}

#lights_list {
	width: 100%;
}

#light_controls {
	padding-left: 6px;
}

#animations {
	height: 120px;
	top: 360px;
	position:absolute;
	width: 98%;
	margin:2px;
}

#animations_list {
	width: 100%;
}

#animation_controls {
	padding-left: 6px;
}

#misc {
	height: 40px;
	top: 520px;
	position:absolute;
	margin:2px;
}

#misc_controls {
	padding-left: 6px;
	width:100%;
}

#headlight {
	top: 20px;
	position:absolute;
}

#grid {
	top: 40px;
	position:absolute;
}

#overlay {
	border:none;
	position:absolute;
}