@CHARSET "UTF-8";

body {
	color:LightBlue;
}

#title {
	position:absolute;
	left:20px;
	top:20px;
}

#prompt {
	position:absolute;
	bottom:20px;
	left:20px;
}

#status {
	position:absolute;
	bottom:20px;
	width:200px;
	height:40px;
	right:20px;
}

#rotation {
	position:absolute;
	left:20px;
	top:0px;
}

#scale {
	position:absolute;
	left:20px;
	top:20px;
}

#slider {
	position:absolute;
	width:800px;
	top:610px;
	height:10px;
	background:#e9e9e9;
}

#slider .ui-slider-handle {
	height:12px;
	top:-2px;
	width:16px;
}

#properties {
	color:MidnightBlue;
	position:absolute;
	left:810px;
	top:20px;
	font-size:16px;
	margin-top:10px;
	margin-left:10px;
}
	
#materialPicker {
	font-size:16px;
	position:absolute;
	top:40px;
    margin-left:10px;
}

#materialRBGroup {
	font-size:16px;
	position:absolute;
    margin-top:-20px;
	left:120px;
	width:140px;
}

#materialWireframe {
	font-size:16px;
	position:absolute;
	top:66px;
	left:120px;
	width:140px;
}

#texturePicker {
	font-size:16px;
	position:absolute;
	top:300px;
    margin-left:10px;
}

#textureUrl {
	font-size:10px;
}

#texturePicker .swatch {
  width: 80px;
  height: 60px;
  margin-left: 140px;
  margin-top:-20px;
  background-size:100% 100%;
}

.colorSelector {
	position: absolute;
	font-size:16px;
    margin-left:10px;
}

.colorSelector div {
	position: absolute;
	top: 4px;
	left: 140px;
	width: 28px;
	height: 28px;
	background: url(../libs/colorpicker/images/select2.png) center;
}

#diffuseColor {
	position: absolute;
	top:180px;
}

#specularColor {
	position: absolute;
	top:220px;
}
