@CHARSET "UTF-8";

body {
}

#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#aaaaaa;
}

#title {
	position:absolute;
	left:20px;
	top:20px;
}

#prompt {
	position:absolute;
	bottom:20px;
	left:20px;
}

#status {
	position:absolute;
	bottom:20px;
	width:200px;
	height:40px;
	right:20px;
}

#rotation {
	position:absolute;
	left:20px;
	top:0px;
}

#scale {
	position:absolute;
	left:20px;
	top:20px;
}

#slider {
	position:absolute;
	width:800px;
	top:610px;
	height:10px;
}

#slider .ui-slider-handle {
	height:10px;
	top:-1px;
	width:16px;
}


