@CHARSET "UTF-8";

body {
	color:LightBlue;
}

#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#000000;
}

#title {
	position:absolute;
	left:20px;
	top:20px;
}

#prompt {
	position:absolute;
	bottom:20px;
	left:20px;
}

#status {
	position:absolute;
	bottom:20px;
	width:200px;
	height:40px;
	right:20px;
}

#rotation {
	position:absolute;
	left:20px;
	top:0px;
}

#scale {
	position:absolute;
	left:20px;
	top:20px;
}

#slider {
	position:absolute;
	width:800px;
	top:610px;
	height:10px;
}

#slider .ui-slider-handle {
	height:10px;
	top:-1px;
	width:16px;
}

#materialPicker {
	color:DarkBlue;
	font-size:14px;
	position:absolute;
	left:810px;
	top:20px;
    margin-left:10px;
}

#materialRBGroup {
	font-size:14px;
	position:absolute;
    margin-top:-20px;
	left:160px;
	width:240px;
}

#materialWireframe {
	font-size:14px;
	position:absolute;
	top:66px;
	left:160px;
	width:240px;
}

#colorPicker {
	color:DarkBlue;
	font-size:14px;
	position:absolute;
	left:810px;
	top:140px;
    margin-left:10px;
}


#red, #green, #blue {
  position:absolute;
  float: left;
  clear: left;
  width: 100px;
  margin-top:10px;
  height:6px;
}

#red {
	top:16px;
}

#green {
	top:32px;
}

#blue {
	top:48px;
}


#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle {
	border-color: #ef2929;
 	height:8px;
	top:-1px;
	width:16px;
}

#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { 
	border-color: #8ae234; 
 	height:8px;
	top:-1px;
	width:16px;
}
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { 
	border-color: #729fcf; 
 	height:8px;
	top:-1px;
	width:16px;
}

#colorPicker .swatch {
  width: 100px;
  height: 80px;
  margin-left: 160px;
  margin-top:-20px;
  background-image: none;
}

#texturePicker {
	color:DarkBlue;
	font-size:14px;
	position:absolute;
	left:810px;
	top:260px;
    margin-left:10px;
}

#textureUrl {
	font-size:10px;
}

#texturePicker .swatch {
  width: 100px;
  height: 80px;
  margin-left: 160px;
  margin-top:-20px;
  background-size:100% 100%;
}

